body{
    background-color: black;
}
head{
    background-color: black;
}
header {
    background-color: #000; /* Color de fondo de la barra de navegación */
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
img {
    max-width: 100%;
    height: auto;
}
.logo-section {
    display: flex;
    align-items: center;
}

.logo img {
    width: 80px; /* Ajusta el tamaño del logo según tus necesidades */
}

.logo-text h1 {
    color: #fff;
    margin-left: 10px; /* Espaciado entre el logo y el texto */
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 200px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}

.topnav {
    overflow: hidden;
    background-color: #000000;
  }
  
  /* Estilo de boton de registro*/
  /* Estilo de boton de registro*/
  /* Estilo de indice */
  .register {
    display: inline-block;
    color: #000000;
    background-color: rgb(255, 247, 4);
    font-size: 15px;
    position: absolute;right: 10px;
    position: absolute;top: 25px;
    padding: 5px;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    width: 10%;

  }

  /* Estilo de boton de sesion*/
  /* Estilo de indice */
  .login {
    color: #ffffff;
    background-color: rgb(0, 0, 0);
    font-size: 15px;
    display: inline-block;
    position: absolute;right: 12%;
    position: absolute;top: 30px;
    border: none;
    cursor: pointer;
  }
  /* Estilo de texto en la barra inferior*/
  .topnav a {
    display: inline-block;
    color: #ffffff;
    text-align:center;
    padding: 14px 16px;
    text-decoration: none;
    position:static;
  }

  /* Estilo del marcado en los Links */
  .topnav a:hover {
    background-color: #000000;
    color: rgb(255, 247, 4);
    text-decoration: underline;
  }

.Titulos{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 35px;
}
.change-password {
    margin: 20px;
}

.change-password h2 {
    color: #fff;
}

.change-password form {
    max-width: 400px;
    margin-top: 20px;
}

.change-password .campo-formulario {
    margin-bottom: 20px;
}

.change-password label {
    display: block;
    margin-bottom: 5px;
    color: #fff;
}

.change-password input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.change-password button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.change-password button:hover {
    background-color: #555;
}

.profile-section {
    margin: 20px;
    color: #fff;
    
}

.profile-section h2 {
    color: white;
}

.profile-section ul {
    list-style-type: none;
    padding: 0;
}

.profile-section li {
    margin-bottom: 10px;
}


.order-history {
    margin: 20px;
}

.order-history h2 {
    color: #333;
}

.order-history table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.order-history th, .order-history td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.order-history th {
    background-color: #333;
    color: white;
}


/* Estilos de la sección de acciones */

.actions-section {
    margin: 20px;
}

.actions-section h3 {
    color: white;
}

.actions-section ul {
    list-style-type: none;
    padding: 0;
}

.actions-section li {
    margin-bottom: 10px;
    color: #fff;
}

.actions-section a {
    text-decoration: none;
    color: white;
    border: 1px solid #ffd700;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.actions-section a:hover {
    background-color: #333;
    color: white;
}

.formulario {
    max-width: 400px; /* Ancho máximo del formulario */
    margin: 0 auto; /* Centra el formulario en la página */
    padding: 20px;
    
}
.formularioCrearCuenta {
    max-width: 400px; /* Ancho máximo del formulario */
    margin: 0 auto; /* Centra el formulario en la página */
    padding: 20px;
    
}

.campo-formulario {
    margin-bottom: 20px;
    display: flex; /* Utiliza flexbox para poner label e input en línea */
    align-items: center; /* Alinea verticalmente los elementos */
}



input {
    width: 100%;
    padding: 10px;
    margin-left: 30px;
    box-sizing: border-box; /* Incluye el relleno y el borde en el ancho total */
}

.boton-ingresar {
    text-align: center;
}

button {
    background-color: #ffd700; /* Color de fondo amarillo */
    padding: 10px 20px;
    border: 2px solid #000; /* Borde negro */
    border-radius: 20px; /* Bordes ovalados */
    color: #000; /* Color del texto */
    cursor: pointer;
}
label {
    display: block; /* Muestra la etiqueta como bloque */
    margin-bottom: 5px;
    color: white;
    margin-right: 30px;
}

