body {
  background-color: #000000;
}

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Estilo del cuerpo principal de la pagina */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Estilo de barra navegadora inferior */
  /* Estilo de indice */
.topnav {
  overflow: hidden;
  background-color: #000000;
}

/* Estilo de boton de registro*/
/* Estilo de indice */
.register {
  display: inline-block;
  color: #000000;
  background-color: rgb(255, 247, 4);
  font-size: 15px;
  position: absolute;right: 10px;
  position: absolute;top: 25px;
  padding: 5px;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  width: 10%;

}

/* Estilo de boton de sesion*/
/* Estilo de indice */
.login {
  color: #ffffff;
  background-color: rgb(0, 0, 0);
  font-size: 15px;
  display: inline-block;
  position: absolute;right: 12%;
  position: absolute;top: 30px;
  border: none;
  cursor: pointer;
}

/* Estilo de texto en la barra inferior*/
/* Estilo de indice */
.topnav a {
  display: inline-block;
  color: #ffffff;
  text-align:center;
  padding: 14px 16px;
  text-decoration: none;
  position:static;
}

/* Estilo del marcado en los Links */
/* Estilo de indice */
.topnav a:hover {
  background-color: #000000;
  color: rgb(255, 247, 4);
  text-decoration: underline;
}

/* Estilo de barra de busqueda */
/* Estilo de busqueda */
.searchbar {
  color: #ffffff;
  background-color: #000000;
  padding: 50px;
  text-align: center;
  font-size: 20px;
}

/* Contenido del input de la barra de busqueda */
/* Estilo de busqueda */
input[type="text"] {
padding: 12px;
border-radius: 10px;
border: none;
width: 300px;
font-size: 16px;
}

/* Texto de no resultado */
/* Estilo de busqueda */
.NoResultado {
  font-size: 20px;
  color: red;
  text-align: center;
  display: none;
}

/* Contenedor de productos */
/* Estilo de busqueda */
.card-products-container {
margin: 10vh auto;
text-align: center;
}

/* Estilo de busqueda */
.card-products {
display: inline-block;
text-align: center;
margin: 0 30px;
}

/* Estilo de busqueda */
.card-products img {
height: 180px;
}

/* Estilo de busqueda */
.card-products h3,
.card-products .price {
margin-top: 10px;
color: #ffffff;
}

/* Estilo de busqueda */
.card-products button {
border: none;
outline: 0;
padding: 10px;
color: rgb(0, 0, 0);
background-color: rgb(255, 247, 4);
text-align: center;
cursor: pointer;
width: 80%;
font-size: 15px;
}

/* Estilo de descripcion */
/* Estilo de imagen del juego */

.juego {
max-width: 25%;
position: absolute;left: 40px;
padding-top: 4%;

}

/* Estilo de descripcion */
/* Estilo de caja de compra */
.paybox {
max-width: 20%;
position: absolute;right: 50px;
padding-top: 5%;
}

.line {
  position: absolute;bottom: 90px;
  position: absolute;left: 30%;
  width: 35%;
}


/* Estilo de descripcion */
/* Estilo de titulo*/

.titulojuego {
  color: #ffffff;
  font-size: 30px;
  position: absolute;left: 31%;
  position: absolute;bottom: 73%;
}

/* Texto llamado "descripcion" */
.desctxt {
  color: #ffffff;
  font-size: 20px;
  position: absolute;left: 31%;
  position: absolute;bottom: 60%;
}

/* Estilo de la descripcion*/
/* Estilo del texto descripcion */
.descripcion {
  color: #ffffff;
  font-size: 15px;
  position: absolute;left: 31%;
  position: absolute;bottom: 55%;
  text-align: justify;
}

/* Estilo de la descripcion*/
/* Estilo de plataforma */

.plataforma {
  color: #ffffff;
  font-size: 15px;
  position: absolute;left: 31%;
  position: absolute;bottom: 70%;
}

/* Estilo de la descripcion*/
/* Texto de precio */
.prices {
  color: #ffffff;
  font-size: 20px;
  position: absolute;right: 17%;
  position: absolute;bottom: 65%;
}

.dinero {
  color: rgb(255, 247, 4);
  font-size: 20px;
  position: absolute;right: 13%;
  position: absolute;bottom: 65%;
}

/* Estilo de la descripcion*/
/* Estilo del boton de consola */
.console {
  color: rgb(255, 247, 4);
  background-color: #000000;
  border: none;
  cursor: pointer;
  font-size: 15px;
  position: absolute;left: 37%;
  position: absolute;bottom: 72%;
}

/* Estilo de la descripcion*/
/* Hover del boton console */
.console:hover {
  color: rgb(28, 47, 255);
}

/* Estilo de la descripcion*/
/* Estilo boton de comprar */
.buy {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 247, 4);
  border: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;right: 6%;
  position: absolute;bottom: 55%;
  width: 15%;
  padding: 10px;
  border: none;
  border-radius: 100px;

}

/* Estilo de la descripcion*/
/* Hover del boton comprar */
.buy:hover {
  background-color: #ffffff;
}

/* Estilo de la descripcion*/
/* Hover del boton carrito */
.kart {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 247, 4);
  border: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;right: 6%;
  position: absolute;bottom: 45%;
  width: 15%;
  padding: 10px;
  border: none;
  border-radius: 100px;
}

.kart:hover {
  background-color: #ffffff;
}


/* Estilo del carrito*/
/* Estilo del cuadro decorativo 1 */
.decobox1 {
  position: absolute;left: 4%;;
  position: absolute;bottom: 32%;
  width: 45%;
  z-index: -1;
}

.decobox2 {
  position: absolute;right: 25%;;
  position: absolute;bottom: 25%;
  width: 17%;
  z-index: -1;
}

.cartgame {
  position: absolute;left: 6%;;
  position: absolute;bottom: 37%;
  width: 9%;
  z-index: 1;
}

.tucarrito {
  color: rgb(255, 247, 4);
  font-size: 27px;
  position: absolute;left: 6%;
  position: absolute;bottom: 61%;
}

.gametitle {
  color: rgb(255, 247, 4);
  font-size: 20px;
  position: absolute;left: 16%;
  position: absolute;bottom: 54%;
}

.resumen {
  color: rgb(255, 247, 4);
  font-size: 20px;
  position: absolute;right: 30%;
  position: absolute;bottom: 63%;
  text-decoration: underline;
}

.total {
  color: rgb(255, 255, 255);
  font-size: 20px;
  position: absolute;right: 38%;
  position: absolute;bottom: 55%;
}

.deletebt {
  color: rgb(255, 247, 4);
  background-color: #1B1B1B;
  border: none;
  font-size: 200%;
  position: absolute;left: 45%;
  position: absolute;bottom: 65%;
  cursor: pointer;
}

.deletebt:hover {
  color: rgb(255, 255, 255);
  background-color: #1B1B1B;
  border: none;
  font-size: 200%;
  position: absolute;left: 45%;
  position: absolute;bottom: 65%;
}

.preciocart {
  color: rgb(255, 255, 255);
  font-size: 25px;
  position: absolute;left: 16%;
  position: absolute;bottom: 45%;
}

.pagare {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 247, 4);
  cursor: pointer;
  font-size: 20px;
  position: absolute;right: 26%;
  position: absolute;bottom: 27%;
  width: 15%;
  padding: 10px;
  border: none;
}

.pagare:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}